nav{
    background-color:#240000;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    height: 60px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    padding: 10px 20px;
    z-index: 2;
}
.navbar_brand{
    flex: 1;
}
.navbar_links{
   margin: 0 10px;
}